/*  footer start */
footer#footer{
    margin-top: 100px;
    padding: 18px 0 65px;
    background-color: #fff;
    border-top: 1px solid #ececec;
}


.border-box{
    box-sizing: border-box;
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;
}


.wrapper{
    flex-grow: 1;
    display: flex;
    align-items: center;

}

#logimg{
    margin-right: 45px
}

#links > a {
    font-size: 15px;
    color: #3a3a3a;
    font-weight: 500;
    line-height: 2.6;
    margin-right: 45px;
    white-space: nowrap;
    text-decoration: none;
}

#iconwrapper{
    display: flex;
    flex-wrap: nowrap;
    line-height: 2.6;
}

#iconwrapper > img {
    width: 20px;
    height: 20px;
    top: 10px;
    position: relative;
    margin-left: 5px;
}

.lastwrapper{
    width: 90%;
    max-width: 1060px;
    margin: 0 auto 18px;
    display: flex;
    border-top: 1px solid #ececec;
    padding-top: 25px;
}


.LocaleSelect{
    position: relative;
    width: 250px;
    height: 36px;
    float: left;
    margin-top: 14px;

}

.LocaleSelect img{
    position: absolute;
    margin: 7px 10px;
    width: 29px;
    height: 24px;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.LocaleSelect select{
    width: 100%;
    height: 40px;
    background: #f2f4f7;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    line-height: 2.1;
    color: #717171;
    padding: 0 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    cursor: pointer;
}

.lastp{
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6666666667em;
    color: #767676;
    width: calc(100% - 290px);
    margin-right: 40px;
}


/* footer end */
