@charset "UTF-8";

html, body{
	overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

[class^="icon-"], [class*=" icon-"] {
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Modal_root__aEM8D.login {
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    z-index: 1400;
}

.Modal_modalContent__0zuTn {
    z-index: 5;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
}

.Modal_modalContent__0zuTn {
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    max-height: calc(100vh - 150px);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 5;
}

.Modal_modalOverlay__1sCXi {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;
    background-color: rgba(0,0,0,.5);
}

.border-none .Header_Header__0d6dF {
    border-bottom: 0;
}

.Header_Header__0d6dF {
    height: 54px;
    padding: 16px 20px;
    position: relative;
    border-bottom: 1px solid #ececce;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}

.Header_Header__0d6dF .icon-logo_new {
    vertical-align: middle;
}

.icon-logo_new:before {
    content: "\e992";
}

.Header_Header__0d6dF a, .Header_Header__0d6dF button {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 15px;
    line-height: 0;
}

.SignUpOrLogin_modal__VDGVH {
    background-color: #fff;
}

.Body_body__KI0OY {
    padding: 20px;
}

.TextPanel_className__J3J2W {
    text-align: center;
    word-break: break-word;
    margin-top: 24px;
    margin-bottom: 40px;
}

.TextPanel_className__J3J2W h1 {
    line-height: 1.54;
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

.TextPanel_className__J3J2W h2 {
    margin-top: 16px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}

.InputPanel_wrapper__RXp1k {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.InputPanel_password__my_BO {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    z-index: -1;
    top: -10px;
    left: 0;
    padding: 0;
    height: 0;
    border: 1px solid transparent;
}

.InputPanel_wrapper__RXp1k .InputPanel_email__aEAmZ {
    padding-bottom: 14px;
}

.style_wrapper__6RiUK {
    position: relative;
    padding-bottom: 22px;
    color: #767676;
}

.style_label__BKYHB {
    font-size: 14px;
    font-weight: 400;
}

.style_body__A6XnO {
    margin-top: 11px;
}

.style_guidance__FT8Qs {
    color: #767676;
}

.style_error__PioA9, .style_guidance__FT8Qs {
    bottom: 0;
    margin-top: 6px;
    font-size: 12px;
}

.style_body__A6XnO input[type=email], .style_body__A6XnO input[type=password], .style_body__A6XnO input[type=text] {
    width: 100%;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    resize: none;
}

.style_wrapper__IgK7U {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.style_wrapper__IgK7U svg {
    margin-right: 10px;
}

.InputPanel_divider__WEgZ3:after {
    display: block;
    content: "or";
    color: #969696;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    margin: 13px auto;
    white-space: pre;
}

.InputPanel_socialLogins__j0wq7 {
    text-align: center;
    color: #767676;
    margin-bottom: 17px;
    font-size: 14px;
}

.InputPanel_socialWrapper__Dhaxo {
    width: calc(100% - 60px);
    height: 84px;
    margin: auto;
}

.InputPanel_socialWrapper__Dhaxo.isKR {
    width: 100%;
}

.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2.isKR {
    width: 23%;
}

.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2 {
    width: 33.33333333%;
    display: inline-block;
    position: relative;
}

.InputPanel_wrapper__RXp1k .social-login-button.kakao-login {
    background-color: #fee500;
}

.InputPanel_wrapper__RXp1k .social-login-button.facebook-login {
    background-color: #1877f2;
}

.InputPanel_wrapper__RXp1k .social-login-button.google-login {
    border: 1px solid #e1e2e3;
    background-color: #fff;
}

.InputPanel_wrapper__RXp1k .social-login-button.apple-login {
    background-color: #000;
}

.InputPanel_wrapper__RXp1k .social-login-button {
    width: 56px;
    height: 56px;
    margin: 0 auto 8px;
    color: #737373;
    border-radius: 28px;
}

.InputPanel_wrapper__RXp1k .social-login-button svg {
    margin-right: 0;
}

.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2 .InputPanel_socialTitle__77isU.isKR {
    width: 70%;
    left: 14.5%;
}

.InputPanel_socialWrapper__Dhaxo .InputPanel_socialButton__Hggw2 .InputPanel_socialTitle__77isU {
    position: absolute;
    width: 60%;
    top: 62px;
    left: 20%;
    font-size: 13px;
    font-weight: 500;
    color: #666;
    text-align: center;
}

.style_wrapper__MbwMv {
    margin-top: 26px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #999;
}

.style_wrapper__MbwMv a {
    color: #3336ff;
    text-decoration: underline;
}





