.modal_background.pw{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1400;
}

.modal_box_pw{
    /* 모달창 중앙에 위치시키기 */
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 모달창 */
    background-color: white;
    text-align: center;
    border-radius: 3px;
    width: 400px;
    height: 324.93px;
    line-height: 1.43;
    
}

.modal_Header_pw{
    width: 100%;
    height: 54px;
    padding: 16px 20px;
    position: relative;
    color: #333;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    word-wrap: break-word;
}


.modal_body_pw{
    padding: 20px;
    width: 100%;
}

#button_pw{
    background-color: white;
    border: none;
    padding: 15px;
    position: absolute;
    top: 0%;
    right: 2%;

}

.password_wrapper{
    padding: 0 0 22px;
    text-align: left;
    color: #767676;
    position: relative;
    width: 100%;
    height: 40%;
}

#password_body {
    margin-top: 11px;
}

#password-text-field{
    width: 100%;
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid #e1e2e3;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    appearance: none;
    box-shadow: none;
    resize: none;
}

.loginBtn{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    background-color: #36f;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.changepwBtn{
    background-color: transparent;
    font-size: 14px;
    color: #36f;
    margin-top: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    border: 0;
    border-radius: 27px;
    font-weight: 600;
    cursor: pointer;
}

