<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="School">
	<select id="selectPage" parameterType="map" resultType="schoolVO">
		select school_number, school_name, school_teacher_name, school_phone, school_address, school_time, school_introduce, school_opening_date, school_closing_date, school_photo, school_limit_count, school_status, member_number
		from tbl_school
		order by school_number desc limit #{startRow}, #{rowCount}
	</select>
	
	<select id="selectAll" resultType="schoolVO">
		select school_number, school_name, school_teacher_name, school_phone, school_address, school_time, school_introduce, 
		school_opening_date, school_closing_date, school_photo, school_limit_count, school_status, member_number
		from tbl_school;
	</select>
	
	<select id="selectCount" resultType="_int">
		select count(school_number) from tbl_school
	</select>

	<select id="selectDetail" resultType="schoolVO">
		select school_number, school_name, school_teacher_name, school_phone, school_address, school_time, school_introduce, 
		school_opening_date, school_closing_date, school_photo, school_limit_count, school_status, member_number
		from tbl_school
		where school_number = #{schoolNumber};
	</select>

	<delete id="deleteProgram" parameterType="_int">
		delete from tbl_school where school_number = #{schoolNumber}
	</delete>
	
	<insert id="insert" parameterType="schoolVO">
		insert into tbl_school(school_name, school_teacher_name, school_phone, school_address, school_time, school_introduce, school_opening_date, school_closing_date, school_photo, school_limit_count, school_status)
		values(#{schoolName}, #{schoolTeacherName}, #{schoolPhone}, #{schoolAddress}, #{schoolTime}, #{schoolIntroduce}, #{schoolOpeningDate}, #{schoolClosingDate}, #{schoolPhoto}, #{schoolLimitCount}, #{schoolStatus})
	</insert>
	
	<update id="update" parameterType="schoolVO">
		update tbl_school
		set school_name= ${schoolName}, school_teacher_name= ${schoolTeacherName}, school_phone= ${schoolPhone}, school_address= ${schoolAddress}, school_time= ${schoolTime}, school_introduce= ${schoolIntroduce}, school_opening_date= ${schoolOpeningDate}, school_closing_date= ${schoolClosingDate}, school_photo= ${schoolPhoto}, school_limit_count= ${schoolLimitCount}
		where school_number= #{schoolNumber};
	</update>
</mapper>