@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    background-color: #eee;
}

#wrapper {
    width: 100%;
    font-family: NanumBarunPen;
    font-weight: bold;
    overflow-y: hidden;
}

#wrapper::-webkit-scrollbar {
	display:none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
    background-color: transparent;
}

ul, li {
    list-style: none;
    padding: 0;
}

ul, ol {
    margin-bottom: 10px;
}

button{
    background: inherit;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.overflow_hidden {
    overflow: hidden !important;
}

.app_page {
    display: flex;
    width: inherit;
}

.app_header {
    position: absolute;
    left: 240px;
    right: 0;
    min-height: 50px;
    z-index: 1003;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.header_menu {
    display: flex;
    width: 100%;
}

.header_nav_bar {
    display: flex;
}

.header_nav_item_img {
    height: 22px;
    width: 22px;
}

.app_wrapper {
    display: flex;
    margin-left: 240px;
    width: 100%;
}

.app_sidebar_wrapper {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgb(54, 59, 62);
    color: rgb(255, 255, 255);
    z-index: 1004;
}

.app_sidebar_logo {
    position: relative;
    display: flex;
    height: 50px;
    border-bottom: 1px dashed #9D9DA6;
    padding-left: 15px;
    padding-right: 15px;
}

.app_sidebar_logo h1 {
    font-family: NanumSoMiCe;
}

.app_sidebar_log_img {
    padding-top: 10px;
}

.app_sidebar_toggle {
    position: absolute;
    right: 5px;
    top: 10px;
}

.app_sidebar_menu {
    margin-top: 10px;
}

.app_sidebar_menu_wrapper {
    height: calc(100vh - 130px);
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
}

.app_sidebar_menu_wrapper::-webkit-scrollbar {
    display: none;
}

.app_sidebar_menu_list {
    align-items: center;
}

.app_sidebar_menu_item {
    padding : 10px;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
}

.sidebar_menu_icon {
    margin-right: 15px;
}

.sidebar_menu_title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.sidebar_menu_arrow {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 5px;
    width: 9px;
    height: 9px;
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
}

.app_sidebar_footer {
    background-color: #7F5283;
    padding: 10px;
    text-align: center;
}

.app_sidebar_submenu {
    display: none;
    color: #cccccc;
    background-color: #333;
    padding-left: 65px;
}

.app_sidebar_submenu_item {
    padding : 10px 0;
}

.app_main {
    display: flex;
    width: 80%;
}

.app_main_toolbar {
    height: auto;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
}

.header_wrapper {
    position: fixed;
    height: 50px;
    left: 240px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
}

.headerbar {
    display: flex;
    position: relative;
    height: 100%;
}

.headerbar-left {
    position: absolute;
}

.headerbar-right {
    position: fixed;
    right: 10px;
    padding: 4px 0;
}

.headerbar-left .header-nav {
    margin-left: 24px;
}

.header-nav > li {
    position: relative;
    display: block;
    float: left;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.headerbar-right .header-nav {
    display: inline-block;
    margin: 0;
}

.headerbar-right .header-nav li {
    margin-left: 5px;
}

.header-nav li a {
    position: relative;
    display: block;
}

.btn {
    border-radius: 2px;
    line-height: 1.846153846;
    padding: 6px 16px;
}

.btn {
    font-size: 13px;
    padding: 4px 20px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 3px;
}

.btn-danger {
    background-color: #AF7AB3;
    border-color: #AF7AB3;
    color: #fff;
}

.btn-secondary {
    background-color: rgb(54, 59, 62);
    border-color: rgb(54, 59, 62);
    color: #fff;
    text-align: center;
}

#content {
    position: relative;
    width: 100%;
    left: 0;
    padding-top: 50px;
}

.alert__wrap {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    row-gap: 5px;
}

.dashboard_main .section-body {
    width: 100%;
    margin-top: 0;
    padding-left: 20px;
}

.section-body .col-sm-8, .section-body .col-md-8, .section-body .col-lg-8, .section-body .col-xs-9, .section-body .col-sm-9, .section-body .col-md-9, .section-body .col-lg-9, .section-body .col-xs-10, .section-body .col-sm-10, .section-body .col-md-10, .section-body .col-lg-10, .section-body .col-xs-11, .section-body .col-sm-11, .section-body .col-md-11, .section-body .col-lg-11, .section-body .col-xs-12, .section-body .col-sm-12, .section-body .col-md-12, .section-body .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.section-body:first-child {
    margin-top: 24px;
}

.row {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.flex-box {
    display: flex;
}

.block {
    display: block !important;
}

.card {
    position: relative;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #212121;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    margin-bottom: 10px;
}

.card-head {
    position: relative;
    line-height: 50px;
    min-height: 50px;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
}

.card-head header {
    display: inline-block;
    padding: 12px 24px;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 14px;
}

#comment_count {
    color : rgb(175, 122, 179);;
}

.header-badge.badge-danger {
    background: #AF7AB3;
}

.text-danger {
    color: #AF7AB3 !important;
}

.header-badge {
    background: #1A6DFF;
    width: 28px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    margin-left: 2px;
    font-weight: bold;
}

.text-default-bright {
    color: #ffffff;
}

.border-top {
    border-top: 1px solid #eee !important;
}

.card-body {
    padding: 24px;
    position: relative;
}

.card-body ul {
    margin-top: 0;
    text-align: center;
}

.card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.inline-blocked {
    display: inline-block;
}

.today-table .tt-list .inline-blocked {
    margin-right: 20px;
}

.today-table .text-danger {
    margin-left: 5px;
}

.flex-box .ma-item {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-bottom: 10px;
}

.flex-box .ma-item .card {
    height: 100%;
    margin-bottom: 0;
}

.area_wrap .float_r {
    float: right;
    position: static;
    margin-top: 0;
    margin-right: 15px;
}

.card-body.today-table {
    padding: 16px 24px;
}

.card-head > div {
    display: inline-block;
}
/* 
.text-right {
    text-align: right;
} */

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 24px;
}

.list-preview.list .tile {
    margin-bottom: 10px;
}

.list .tile .tile-text {
    padding: 12px 0;
    font-size: 14px;
    width: 100%;
    word-break: break-all;
}

.tile .tile-content > div {
    display: table-cell;
    vertical-align: middle;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table {
    border-collapse: separate;
    transform: translate3d(0, 0, 0);
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

td {
    text-align: center;
}

td.board_list_value {
	text-overflow: ellipsis;
	overflow: hidden;
	height: 50px;
}

.card-body.no-padding .table > tbody > tr > td:first-child, .card-body.no-padding .table > thead > tr > th:first-child, .table > thead > tr > th:first-child, .table > tbody > tr > td:first-child, .table > tbody > tr > th:first-child, .table > tfoot > tr > td:first-child {
    padding-left: 24px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.card-body.no-padding .table > tbody > tr > td:last-child, .table > thead > tr > th:last-child, .table > tbody > tr > td:last-child, .table > tbody > tr > th:last-child, .shop-table table > tbody > tr:last-child td, .table > tfoot > tr > td:last-child {
    padding-right: 24px;
}

.table thead > tr > th {
    color: inherit;
    font-weight: 500;
    font-size: 13px;
    border: none;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    padding: 8px;
}

.summary-table > tbody > tr.today > td {
    background: #ffefef;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    padding: 8px;
    border-top: 1px solid #eee;
}

.text-gray-bright {
    color: #888 !important;
}

/* 게시글 관리 */

section {
    position: relative;
    padding: 24px;
}

.alert__wrap + section {
    padding-top: 0;
}

.section-body:first-child {
    margin-top: 24px;
}

.app_main .row {
    margin-right: -15px;
    margin-left: -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-stacked {
    border-bottom: none;
}

.nav-stacked > li {
    float: none;
}

.nav-stacked > li > a {
    margin-right: 0;
    padding: 15px 24px;
}

.nav-stacked > li + li {
    margin-top: 0;
    margin-bottom: 0;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: rgb(175, 122, 179);;
    color: #ffffff;
    font-weight: bold;
}

.nav-pills img {
    margin-right: 10px;
}

.margin-left-lg {
    margin-left: 4px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-3 {
    width: 25%;
}

.col-md-9 {
    width: 75%;
    float: left;
}

.col-md-12 {
    width: 100%;
}

.hidden-lg {
    display: none !important;
}

.user-search .form-group {
    margin: 0;
}

#postSearch {
    font-family: inherit;
}

.icon_set {
    margin-top: 10px;
    margin-left: 15px;
}

.user-search .form-group .form-control {
    border: none;
    height: 48px;
    /* padding-left: 64px; */
    padding-right: 50px;
    width: 100%;
}

.form-control.typeahead {
    padding-left: 25px;
}

.sortable_list .drag {
    top: 15px;
}

.shop-table .drag, .sortable_list .drag {
    position: absolute;
    left: 10px;
    opacity: 0;
}

.li_table {
    width: 100%;
    display: table;
    transform: translate3d(0, 0, 0);
}

.li_table > ul {
    width: 100%;
    /* display: table-row; */
    padding: 0;
    margin: 0;
}

.li_table > ul > li {
  /*   padding: 13px 30px; */
    font-size: 14px;
    list-style: none;
    display: table-cell;
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    min-width: 60px;
    word-break: break-word;
}

.li_table > ul > li.title {
    min-width: 120px;
}

.li_table > ul > li.check {
    width: 60px;
    height: 60px;
}

.li_table > ul > li:first-child {
    /* padding-left: 24px; */
}

.li_table > ul.subject li {
    font-size: 13px;
    color: #757575;
}

.li_table_content {
    width: 100%;
    /* display: table; */
    transform: translate3d(0, 0, 0);
}

.li_table_content ul {
    width: 100%;
    /* display: table-row; */
    padding: 0;
    margin: 0;
}

.li_table_content > ul > li {
    padding: 13px 30px;
    font-size: 14px;
    list-style: none;
    display: table-cell;
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    min-width: 60px;
    word-break: break-word;
    text-overflow: ellipsis;
}

/* .li_table_content > ul > li:first-child {
    padding-left: 24px;
} */

.li_table_content > ul > li.check {
    width: 70px;
}

.li_table > ul > li, .li_table_content ul li {
    font-size: 14px;
    list-style: none;
    display: table-cell;
    border-bottom: 1px solid #E0E0E0;
    margin: 0;
    min-width: 60px;
    word-break: break-word;
    width: 14%;
/*     padding-left: 30px;
    padding-right: 30px; */
    vertical-align: middle;
}

.li_table > ul > li.number, .li_table_content ul li.number {
    width: 11%;
}

#board_item_b202209300c8fb2668dfc0 div ul li {
    padding: 5px;
}

#board_item_b202209300c8fb2668dfc0 div ul li a{
    cursor: pointer;
}

.tools .btn-default-bright {
    color: #313534;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e5e6e6;
}

.li_table_content .posting li {
    text-overflow: ellipsis;
}

.btn.btn-default-bright.btn-sm-padding {
    font-size: 13px;
    padding: 4px 20px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 3px;
    border: 1px solid lightgray;
    float: right;
    margin: 8px 10px;
    padding: 1px 20px;
}
