@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    background-color: #eee;
}

#wrapper {
    width: 100%;
    font-family: NanumBarunPen;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
    background-color: transparent;
}

ul, li {
    list-style: none;
    padding: 0;
}

input {
    border-width: 1px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button{
    background: inherit;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.overflow_hidden {
    overflow: hidden !important;
}

.app_page {
    display: flex;
    width: inherit;
}

.app_header {
    position: absolute;
    left: 240px;
    right: 0;
    min-height: 50px;
    z-index: 998;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

.header_menu {
    display: flex;
    width: 100%;
}

.header_nav_bar {
    display: flex;
}

.header_nav_item_img {
    height: 22px;
    width: 22px;
}

.app_wrapper {
    display: flex;
    margin-left: 240px;
    width: 100%;
}

.app_sidebar_wrapper {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgb(54, 59, 62);
    color: rgb(255, 255, 255);
    z-index: 999;
}

.app_sidebar_logo {
    position: relative;
    display: flex;
    height: 50px;
    border-bottom: 1px dashed #9D9DA6;
    padding-left: 15px;
    padding-right: 15px;
}

.app_sidebar_logo h1 {
    font-family: NanumSoMiCe;
}

.app_sidebar_log_img {
    padding-top: 10px;
}

.app_sidebar_toggle {
    position: absolute;
    right: 5px;
    top: 10px;
}

.app_sidebar_menu {
    margin-top: 10px;
}

.app_sidebar_menu_wrapper {
    height: calc(100vh - 130px);
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
}

.app_sidebar_menu_wrapper::-webkit-scrollbar {
    display: none;
}

.app_sidebar_menu_list {
    align-items: center;
}

.app_sidebar_menu_item {
    padding : 10px;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
}

.sidebar_menu_icon {
    margin-right: 15px;
}

.sidebar_menu_title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.sidebar_menu_arrow {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 5px;
    width: 9px;
    height: 9px;
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
}

.app_sidebar_footer {
    background-color: #7F5283;
    padding: 10px;
    text-align: center;
}

.app_sidebar_submenu {
    display: none;
    color: #cccccc;
    background-color: #333;
    padding-left: 65px;
}

.app_sidebar_submenu_item {
    padding : 10px 0;
}

.app_main {
    display: flex;
    width: 80%;
}

.app_main_toolbar {
    height: auto;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
}

.header_wrapper {
    position: fixed;
    height: 50px;
    left: 240px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
}

.headerbar {
    display: flex;
    position: relative;
    height: 100%;
}

.headerbar-left {
    position: absolute;
}

.headerbar-right {
    position: fixed;
    right: 10px;
    padding: 4px 0;
}

.headerbar-left .header-nav {
    margin-left: 24px;
}

.header-nav > li {
    position: relative;
    display: block;
    float: left;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.headerbar-right .header-nav {
    display: inline-block;
    margin: 0;
}

.headerbar-right .header-nav li {
    margin-left: 5px;
}

.header-nav li a {
    position: relative;
    display: block;
}

.btn {
    border-radius: 2px;
    line-height: 1.846153846;
    padding: 6px 16px;
}

.btn {
    font-size: 13px;
    padding: 4px 20px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 3px;
}

.btn-danger {
    background-color: #AF7AB3;
    border-color: #AF7AB3;
    color: #fff;
}

.btn-primary {
    background-color: #af7ab3;
    color: #ffffff;
}

.btn.btn-primary {
    padding: 7px 30px 7px 30px;
    margin-left: 130px;
    cursor: pointer;
}

.btn-secondary {
    background-color: rgb(54, 59, 62);
    border-color: rgb(54, 59, 62);
    color: #fff;
    text-align: center;
}

#content {
    position: relative;
    width: 100%;
    left: 0;
    padding-top: 50px;
}

.alert__wrap {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    row-gap: 5px;
}

.section-max-width {
    max-width: 1100px;
    margin: 0 auto;
    /* margin: 0px 55px; */
    padding: 0px 24px 24px;
}

.section-body .col-sm-8, .section-body .col-md-8, .section-body .col-lg-8, .section-body .col-xs-9, .section-body .col-sm-9, .section-body .col-md-9, .section-body .col-lg-9, .section-body .col-xs-10, .section-body .col-sm-10, .section-body .col-md-10, .section-body .col-lg-10, .section-body .col-xs-11, .section-body .col-sm-11, .section-body .col-md-11, .section-body .col-lg-11, .section-body .col-xs-12, .section-body .col-sm-12, .section-body .col-md-12, .section-body .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.section-body:first-child {
    margin-top: 24px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-12 {
    width: 100%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-2 {
    width: 16.66666667%;
}

.flex-box {
    display: flex;
}

.card {
    position: relative;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #212121;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
    margin-bottom: 10px;
}

.card-head {
    position: relative;
    line-height: 50px;
    min-height: 50px;
    vertical-align: middle;
    border-radius: 2px 2px 0 0;
}

.card-body {
    padding: 24px;
    position: relative;
}

.card-body:last-child {
    border-radius: 0 0 2px 2px;
}

.block {
    display: block !important;
}

.card-head header {
    display: inline-block;
    padding: 12px 24px;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 14px;
}

.header-badge.badge-danger {
    background: #AF7AB3;
}

.text-danger {
    color: #AF7AB3 !important;
}

.header-badge {
    background: #1A6DFF;
    width: 28px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    margin-left: 2px;
    font-weight: bold;
}

.text-default-bright {
    color: #ffffff;
}

.border-top {
    border-top: 1px solid #eee !important;
}

.card-body {
    padding: 24px;
    position: relative;
}

.inline-blocked {
    display: inline-block;
}

.today-table .tt-list .inline-blocked {
    margin-right: 20px;
}

.today-table .text-danger {
    margin-left: 5px;
}

.flex-box .ma-item {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-bottom: 10px;
}

.flex-box .ma-item .card {
    height: 100%;
    margin-bottom: 0;
}

.area_wrap .float_r {
    float: right;
    position: static;
    margin-top: 0;
    margin-right: 15px;
}

.card-body.today-table {
    padding: 16px 24px;
}

.card-head > div {
    display: inline-block;
}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.list {
    margin: 0;
    padding-left: 0;
    list-style: none;
    line-height: 24px;
}

.list-preview.list .tile {
    margin-bottom: 10px;
}

.list .tile .tile-text {
    padding: 12px 0;
    font-size: 14px;
    width: 100%;
    word-break: break-all;
}

.tile .tile-content > div {
    display: table-cell;
    vertical-align: middle;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.text-gray-bright {
    color: #888 !important;
}

#thumbnanil {
    background-image: url('../images/no-image.JPG');
    background-size: 300px 250px;
    background-repeat: no-repeat;
    background-position: center;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group > label, .form-group .control-label {
    font-size: 13px;
    color: #757575;
}

.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}

.form-horizontal .control-label {
    padding-top: 5px;
}

.form-horizontal .form-control ~ .form-control-line {
    left: 12px;
    right: 12px;
    width: auto;
}

.form-group .form-control:not(.static) ~ label, .form-group .form-control:not(.static) ~ .form-control-line {
    -webkit-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.form-group .form-control ~ label, .form-group .form-control ~ .form-control-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.time_duration {
    width: 480px;
    max-width: 100%;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-content {
    position: relative;
    display: table-cell;
    vertical-align: top;
    min-width: 40px;
}

#img_url {
    width: 260px;
}

.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.input-group-addon, .input-group-btn {
    padding-left: 10px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon {
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    opacity: 0.7;
}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}

.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form-control, .phonenumber_wrap .chosen-container-single .chosen-single {
    padding: 0;
    height: 29px;
    line-height: 29px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: rgba(12, 12, 12, 0.12);
    background: transparent;
    color: #0c0c0c;
    font-size: 14px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0 !important;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-group {
    display: flex;
}

.form-group input {
    border: none;
    border-top: none;
    border-bottom: 1px solid #ccc;
}

.form-horizontal .input-group .form-control ~ .form-control-line {
    left: 0;
    right: 0;
}

.form-horizontal .form-control ~ .form-control-line {
    left: 12px;
    right: 12px;
    width: auto;
}

.form-group .form-control ~ label, .form-group .form-control ~ .form-control-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    /* padding-left: 20px; */
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-styled:not(ie8).radio-inline, .radio-styled:not(ie8).radio-inline, .checkbox-styled:not(ie8).checkbox-inline, .radio-styled:not(ie8).checkbox-inline {
    padding-left: 0;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 5px;
}

.radio-inline:not(:last-child), .checkbox-inline:not(:last-child) {
    margin-right: 18px;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px;
    margin-left: 8px;
    top: 5px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px;
    line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.checkbox-styled:not(ie8) input ~ span, .radio-styled:not(ie8) input ~ span {
    position: relative;
    padding-left: 24px;
    display: inline-block;
    cursor: pointer;
    vertical-align: text-top;
}

.form-group label span {
    margin-bottom: 8px;
}

.alert.alert-info {
    background: #FAFAFA;
    border-color: #267ddc;
}