/* 부동산 / 일자리 / 관광지 등록 CSS 공유  */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
    /* margin: 0; */
    /* 배너 움직이는것 해결 */
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: "Noto Sans KR", sans-serif !important;
    width: 100%;
    height: 100%;
}


.wrap {
    /*     padding: 80px 20px 100px; */
    margin: 80px auto 0px auto;
    width: 520px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.bodyTitle {
    width: 100%;
}

.mainTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgb(51, 51, 51);
}

.subTitle {
    margin: 33px 0px 40px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.subTitle strong {
    font-weight: bold;
}

.registerBody {
    max-width: 520px;
    width: 100%;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.registerForm {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
}

.registerStart {
    padding: 0px;
    text-align: left;
    line-height: normal;
    background-color: white;
    border-radius: 10px;
}

ul {
    list-style: none;
}

.registerStart>ul>li:first-of-type {
    margin-bottom: 24px;
}

.registerStart .formOne {
    margin-bottom: 0px;
}

.formOne {
    padding-bottom: 0px;
    box-sizing: border-box;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    margin: 0 0 24px;
    vertical-align: top;
}

.formItem {
    width: 100%;
    text-align: left;
    padding-bottom: 12px;
    display: inline-block;
    flex-grow: 0;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.itemOne {
    font-weight: 500;
    font-size: 16px;
    color: rgb(51, 51, 51);
    height: auto;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.itemOne ::after {
    display: inline-block;
    margin-right: 4px;
    color: rgb(255, 77, 79);
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.itemControl {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.control {
    min-height: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.inputContent {
    flex: auto;
    max-width: 100%;
}

.inputGroup {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.rowItem {
    box-sizing: border-box;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    margin: 0 0 24px;
    vertical-align: top;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.ant-form-item-control:first-child:not([class^=ant-col-]):not([class*=" ant-col-"]) {
    width: 100%;
}

.ant-form-horizontal .ant-form-item-control {
    flex: 1 1 0;
}

.ant-form-item-control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ant-col {
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.rowrow {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    max-width: 100%;
    min-height: 1px;
}

.ant-form-item-control-input {
    position: relative;
    display: flex;
    align-items: center;
}

.ant-form-item-control-input-content {
    flex: auto;
    max-width: 100%;
}

.ant-select-lg {
    font-size: 16px;
}

.ant-select {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.selector {
    border: 1px solid rgb(225, 227, 232);
    box-shadow: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    min-height: 44px;
    height: 40px;
    width: 100%;
    display: flex;
}

.explain {
    color: rgb(151, 157, 164);
    font-size: 12px;
    padding-top: 10px;
}

.ant-radio-wrapper {
    color: rgb(151, 157, 164);
    line-height: 0;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 400 !important;
}


.ant-radio {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    top: 0.2em;
    display: inline-block;
    outline: none;
    cursor: pointer;
}

.ant-radio-input {
    position: absolute;
    inset: 0px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}

.ant-radio-inner {
    position: relative;
    top: 0px;
    left: 0px;
    display: block;
    width: 20px;
    height: 20px;
    border-color: rgb(217, 217, 217);
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
}

span.ant-radio+* {
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 8px;
}

.fsFbHp:disabled
    {
    background-color: rgb(236, 236, 236);
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.fsFbHp {
    background-color: rgb(51, 102, 255);
    border-radius: 25px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    border-style: none;
}

button.fsFbHp.changeColor {
    background-color: rgb(51, 102, 255);
    border-radius: 25px;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    border-style: none;
}




/* * 표시 */
.bbVFyY .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    color: rgb(255, 77, 79);
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.ant-form-item-label>label:after {
    content: ":";
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
}

/* 밑에 버튼 */
div.filebtn {
    height: 60px;
    border: none;
    text-align: left;
    padding: 10px 10px 0 0;
}

div.filebtn>input[type="file"] {
    position: absolute;
    width: 54px;
    height: 40px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    border: none;
    box-sizing: border-box;
}

div.filebtn>label {
    display: inline-block;
    width: 54px;
    height: 40px;
    background: url(https://korean.visitkorea.or.kr/resources/images/location/btn_reply_file.png) no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    text-indent: -9999px;
    font-size: 0;
}


div.display {
    width: 520px;
}


/* ============================== 헤더 ==================================== */

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Pretendard-Regular' !important;
}

p {
    font-family: 'Pretendard-Regular' !important;
}

/* headddder start */


body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


#head {
    background-color: white;
    height: 50px;
    ;
    position: relative;
    border-bottom: 1px solid #e2e3e3;
    z-index: 20;

}

#header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 30;

}


.category {
    margin-top: 19px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    margin-left: 10px;



}

#margin {
    margin: 0 auto;
    max-width: 1060px;
}


#seoul_checkinIMG {

    margin-left: 9px;
}

#navigationdiv {
    position: relative;
}


#navigation {
    position: relative;
    top: -36px;
    left: 202px;
}




#navigation>ul>li {
    float: left;
    width: 13.5%;
    height: 100%;
    left: -49px;
}




ul {
    list-style: none;

}


a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    font-weight: 600;
}


#searchicon {
    position: relative;
    top: -17px;
    left: 84px;
}


.vertical::before {
    display: inline-block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
}

#vertical {
    top: -3px;
    left: 1.1%;
    position: relative;

}

#comservice {
    font-size: 13px;
    color: #666;
    line-height: 23px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 5px 10px;
    margin-left: 17px;
    font-weight: 400;

}


#ul-2 {

    position: relative;
    left: 0px;
    width: 68%;

}

#ul-3 {

    position: relative;
    left: 10%;
    width: 215%;
}


.ulul {
    width: 105%;
    position: absolute;
    left: 0%;
    top: 13px;
    line-height: 33px;
    display: none;
}


#ulul-2 {
    display: none;
    position: relative;
    top: -5px;
    padding: 0px;
}

#search {
    display: inline-block
}

.divdiv {
    font-size: 14px;
    font-weight: 600;
    position: relative;
}


[type="radio"] {

    border-color: rgb(51, 102, 255);
    border-width: 6px;
    border-collapse: inherit;
    width: 20px;
    height: 20px;
    line-height: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 1px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-left: 7px;

    position: relative;
    top: 5px;
}

[type="radio"]:checked {
    border: 6px solid rgb(51, 102, 255);
    transition: 0.2s all linear;
}

/* label의 CSS */
label[for='attach'] div {
    width: 54px;
    height: 40px;
    background-image: url('https://korean.visitkorea.or.kr/resources/images/location/btn_reply_file.png');
    /* div크기에 맞춰서 조절 100%면 해당 div에 꽉 차게  */
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    /* 마우스 올렸을때 손모양으로 바뀌는것 */
}

label[for='attachTwo'] div {
    width: 54px;
    height: 40px;
    background-image: url(https://korean.visitkorea.or.kr/resources/images/location/btn_reply_file.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

label[for='attachThree'] div {
    width: 54px;
    height: 40px;
    background-image: url(https://korean.visitkorea.or.kr/resources/images/location/btn_reply_file.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

input{
    cursor: pointer;
}

input[type="text"]{
    cursor: text;
    padding-left: 11px;
}

input[type="text"]:focus { 
    border: 1.5px solid rgb(51, 102, 255) !important;
    border-radius: 2px;
}
.englishHome{
    display: none;
}
.englishJob{
    display: none;
}
